<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>検索</title>
  </head>
  <body>
    <h1>図書雑誌IDから探す</h1>
    <form action='result' method='get'>
      <b>探す本のID: </b>  <input type="text" name="book_id" value=""><br>
      <b>基準となる住所: </b>  <input type="text" name="address" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>

    <h1>図書雑誌検索する</h1>
    <form action='result_' method='get'>
      <b>キーワード検索 </b>  <input type="text" name="key_word" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>

  </body>
</html>
