<!DOCTYPE html>
<html>
<body>
  <table border="1" width="800">
    <tr>
      <th>緯度</th><th>経度</th><th>住所</th>
    </tr>
    <tr>
      <th> <div id = "ido"><p></p></div> </th>
      <th> <div id = "keido"><p></p></div> </th>
      <th> <div id = "address"><p></p></div> </th>
    </tr>
  </table>

<div id="map" style="width:1000px; height:800px"></div>

<script type="text/javascript" charset="utf-8" src="https://map.yahooapis.jp/js/V1/jsapi?appid=dj0zaiZpPUk5SHRiSDJGZkU2VCZzPWNvbnN1bWVyc2VjcmV0Jng9NzQ-"></script>
<script type="text/javascript">
window.onload = function(){
    var ymap = new Y.Map("map",{
      configure : {
         doubleClickZoom : true,
         scrollWheelZoom : true,
         singleClickPan : true,
         dragging : true,
       }
    });
    var control = new Y.SliderZoomControlVertical;
    ymap.addControl(control);
    ymap.drawMap(new Y.LatLng(35.66572, 139.73100), 17, Y.LayerSetId.NORMAL);
    ymap.bind('click', function(latlng){
    var ido = document.getElementById("ido");
    var keido = document.getElementById("keido");
    var address = document.getElementById("address");
    ido.innerHTML =latlng["Lat"];
    keido.innerHTML = latlng["Lon"];
    var request = { "latlng": latlng }; //ここの意味
    console.log(request)
    var geocoder = new Y.GeoCoder();
    geocoder.execute( request , function( ydf ) {
        if ( ydf.features.length > 0 ) {
            var feature = ydf.features[0];
            // alert(feature.property.Address);
            address.innerHTML =feature.property.Address;
        }
    } );
  });
}

</script>
</body>
</html>
