<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>検索</title>
  </head>
  <body>
      <form method="post" action="/search">
      <input type="submit" value="住所から特定の場所を探す">
      </form>

      <form method="post" action="/click">
      <input type="submit" value="地点をクリックして住所と位置を求める">
      </form>


  </body>
</html>
