<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>検索</title>
  </head>
  <body>
    <h1>住所が正しくありません</h1>
  </body>
</html>



<!-- 
1|公益財団法人 日本海事センター 海事図書館|東京都千代田区平河町2-6-4海運ビル9階|35.67938687|139.73963528
2|神戸大学 附属図書館 海事科学分館|神戸市東灘区深江南町5-1-1|34.71909179|135.28926609
3|神戸大学 附属図書館 人間科学図書館|兵庫県神戸市灘区鶴甲3-11|34.73460872|135.23448446
4|跡見学園女子大学 茗荷谷図書館|東京都文京区大塚1-5-2|35.71678544|139.73482597
5|京都精華大学 情報館|京都府京都市左京区岩倉木野町137|35.07352924|135.77252784
6|関西学院大学 図書館|兵庫県西宮市上ケ原一番町1-155|34.76793442|135.34657428
7|京都工芸繊維大学 附属図書館|京都市左京区松ケ崎橋上町1番地|35.05003184|135.78291915
8|愛知大学 豊橋図書館|愛知県豊橋市町畑町1-1|34.74041896|137.38652266
9|盛岡大学図書館|岩手県滝沢市砂込808|39.81542861|141.13692904
10|長崎大学 附属図書館|長崎市文教町1-14|32.78612855|129.8646581
11|東洋英和女学院大学 図書館|神奈川県横浜市緑区三保町32|35.50928926|139.50865199
12|フェリス女学院大学 附属図書館|神奈川県横浜市泉区緑園4-5-3|35.43907379|139.52480526 -->
