<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>検索</title>
  </head>
  <body>
    <h1>キーワードから探す</h1>
    <form action='result_' method='get'>
      <b>キーワード: </b>  <input type="text" name="key_word" value=""><br>
      <b>基準となる住所: </b>  <input type="text" name="address" value="">
      <button type='submit' class='btn btn-primary'>検索</button>
    </form>


  </body>
</html>
