<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'/>
    <title>検索</title>
  </head>
  <body>
    <h1>キーワードから探す</h1>
    <form action='result_' method='get'>
      <b>キーワード:
      </b>
      <input type="text" name="key_word" value="" style="width:40%;height:40px"><br>
      <b>基準となる住所:
      </b>
      <input type="text" name="address" value="" style="width:40%;height:40px"><br>
      <select name="select" onchange="">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>



      <button type='submit' class='btn btn-primary' style="width:70%;height:60px">検索</button>
    </form>

  </body>
</html>
