<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      function b_click() {
        var value;
        idx = document.form1.select.selectedIndex;
        console.log(idx);
        value = document.form1.select[idx].value;
        value = parseInt(value, 10);
        console.log(value);
      }
    </script>
  </head>
  <body>
    <h2>検索キーワード</h2>
    <h3>
      <%= @key_word %>
    </h3>
    <form name="form1" action="">
      <select id="select" onchange="b_click();">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
    </form>
    <h2>タイトル
    </h2>
    <table border="1" width="800">
      <tr>
        <th>順位</th>
        <th>ヒットした図書館名</th>
      </tr>
      <% cnt=0 %>
        <% @hash_title.each_with_index do |(key,value),k| %>
          <% cnt+=1 %>
            <tr>
              <th>
                <%=k+1 %>
              </th>
              <th>
                <p>
                  <a href='/result?value=<%=value%>'><%=key %></a>
                </p>
              </th>
            </tr>
            <% if cnt==5
           break
         end %><%end %>
          </table>
        </body>
      </html>
